#canvas {
    border: 4px solid #dfdede;
}

.flex-container {
    display: flex;
}

.flex-child {
    flex: 1;
}  

.flex-child:first-child {
    margin-right: 20px;
} 

.btnFrames:hover {
    color: magenta;
    cursor: pointer;
}